.cities {
  margin-top: 8rem;
}

.city {
  margin-bottom: 30px;
}

.card img {
  transition: all 0.3s ease;
  cursor: pointer;
}

.card img:hover {
  transform: scale(1.2);
}

.card p {

  color: black;
  background-color: white;
  font-size: 1.5rem;
  font-weight: bold;

}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* Three columns with equal width */
  grid-gap: 20px;
}

.card {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) and (max-width: 991px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Three columns with equal width */
    grid-gap: 20px;
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Three columns with equal width */
    grid-gap: 20px;
  }
}

@media (max-width: 576px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Three columns with equal width */
    grid-gap: 20px;
  }
}